
.inside_bar_container{
    position: relative;
    margin: 0 7rem;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
.inside_bar_container .heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inside_bar_container .heading h2{
    margin: 0;
    color: #fff;
    text-align: center;
}
.skills_container .skills{
    padding: 3rem 0;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
}

@media screen and (max-width: 1220px){
    .inside_bar_container{
        margin: 0 3rem;
    }
}

@media screen and (max-width: 900px){
    .skills_container .skills{
        grid-template-columns: repeat(2, 1fr);
    }
    .inside_bar_container{
        margin: 0 2rem;
    }
}
@media screen and (max-width: 650px){
    .inside_bar_container .heading h2{
        font-size: 20px;
    }
    .inside_bar_container{
        margin: 0 1.5rem;
    }
}
@media screen and (max-width: 450px){
    .inside_bar_container .heading h2{
        font-size: 15px;
    }
}