.contact_bg{
    width: 100%;
    height: 100vh;
    position: relative;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    background-color: black;
    z-index: -1;
}
.contact_Image{
    height: 65%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}
.contact_container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    height: 65vh;
}
.contact_container .content h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.contact_container .content p{
    font-size: 2rem;
    font-weight: 250;
    text-align: center;
}
@media screen and (max-width: 680px){
    .contact_Image{
        height: 50%;
    }
    .contact_container .content{
        height: 50vh;
    }
    .contact_container .content h1{
        font-size: 2.5rem;
    }
    .contact_container .content p{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 450px){
    .contact_container .content h1{
        font-size: 2rem;
    }
    .contact_container .content p{
        font-size: 1.3rem;
    }
}